/* Version: 1.0 */

/* explanations: 
for sidenav2020 and sidenav
	--HeadColor: color for used in h1 and h2
	--SubHeadColor: background color of p.subhead1
these are NOT used in sidenav2020
	--PanelColor: TOC colors for sidenav
	--PanelElementHover: TOC colors for sidenav
	--PanelElementExpander: TOC colors for sidenav
*/

/* theme: Default (all!) */ 
ul.menu._Skins_SideMenu.mc-component li > a {
    border-left: solid 3px transparent;
}

/* theme: Orca */
.theme-orca div {
	/*The default colors are set in styles.css, but can be overridden per theme here*/
	--HeadColor: #00829b;
	--SubHeadColor: #f4f5f4; 
	--PanelColor: #6D7372;
	--PanelElementHover: #B1B5B4;
	--PanelElementExpander: #333333;
}

.theme-orca nav.title-bar {
	background-color: #762a5b;
	background-image: url('Images/headerOrca_105px.jpg');
}
.theme-orca .title-bar-layout a.logo {
	background-image: url('Images/logoOrca.png');
}

.theme-orca .search-bar.search-bar-container .search-submit {
	/* background-color: #9f6a8d; */
	background-color: transparent;
}
.theme-orca ul.menu._Skins_SideMenu.mc-component {
	border-top-color: #762a5b;
}
.theme-orca ul.menu._Skins_SideMenu.mc-component li > a.selected {
    border-left-color: #762a5b;
}

/* theme: Iris */
.theme-iris div {
	/*The default colors are set in styles.css, but can be overridden per theme here*/
	--HeadColor: #00829b;
	--SubHeadColor: #f4f5f4; 
	--PanelColor: #6D7372;
	--PanelElementHover: #B1B5B4;
	--PanelElementExpander: #333333;
}
.theme-iris nav.title-bar {
	background-color: #074c7b;
	background-image: url('Images/headerIris_105px.jpg');
}
.theme-iris .title-bar-layout a.logo {
	background-image: url('Images/logoIris.png');
}
.theme-iris .search-bar.search-bar-container .search-submit {
/*	background-color: #92c6e8; */
	background-color: transparent;
}
.theme-iris ul.menu._Skins_SideMenu.mc-component {
	border-top-color: #0d4d7a;
}
.theme-iris ul.menu._Skins_SideMenu.mc-component li > a.selected {
    border-left-color: #0d4d7a;
}

/* theme: TOS2 */
.theme-tos2 div {
	/*The default colors are set in styles.css, but can be overridden per theme here*/
	--HeadColor: #00829b;
	--SubHeadColor: #f4f5f4; 
	--PanelColor: #6D7372;
	--PanelElementHover: #B1B5B4;
	--PanelElementExpander: #333333;
}

.theme-tos2 nav.title-bar {
	background-color: #DE621A;
	background-image: url('Images/headerTos2_105px.jpg');
}
.theme-tos2 .title-bar-layout a.logo {
	background-image: url('Images/logoTos2.png');
}
.theme-tos2 .search-bar.search-bar-container .search-submit {
/*	background-color: #CF5300; */
	background-color: transparent;
}
.theme-tos2 ul.menu._Skins_SideMenu.mc-component {
	/* border-top-color: #EA7600; */
	border-top-color: #DE621A;
}
.theme-tos2 ul.menu._Skins_SideMenu.mc-component li > a.selected {
    /* border-left-color: #EA7600; */
	border-left-color: #DE621A;
}

/* theme: SecureCloud */
.theme-securecloud div {
	/*The default colors are set in styles.css, but can be overridden per theme here*/
	--HeadColor: #00829b;
	--SubHeadColor: #f4f5f4; 
	--PanelColor: #6D7372;
	--PanelElementHover: #B1B5B4;
	--PanelElementExpander: #333333;
}

.theme-securecloud nav.title-bar {
	background-color: #00829b;
	background-image: url('Images/headerSecureCloud_105px.jpg');
}
.theme-securecloud .title-bar-layout a.logo {
	background-image: url('Images/logoSecureCloud.png');
	width: 310px;	
}
.theme-securecloud .search-bar.search-bar-container .search-submit {
/*	background-color: #92c6e8; */
	background-color: transparent;
}
.theme-securecloud ul.menu._Skins_SideMenu.mc-component {
	border-top-color: #0d4d7a;
}
.theme-securecloud ul.menu._Skins_SideMenu.mc-component li > a.selected {
    border-left-color: #0d4d7a;
}

.theme-securecloud a
{
	color: #005566;
}


/* test - this theme used for TW Training (DocTeam) docs */
.theme-test div {
	/*The default colors are set in styles.css, but can be overridden per theme here*/
	--HeadColor: #00829b;
	--SubHeadColor: #f4f5f4; 
	--PanelColor: #800080;
	--PanelElementHover: #ffc0cb;
	--PanelElementExpander: #a52a2a;
}

.theme-test nav.title-bar {
	background-color: #762a5b;
	background-image: url('Images/headerOrca_105px.jpg');
}
.theme-test .title-bar-layout a.logo {
	background-image: url('Images/logoDocteam.png');
}

.theme-test .search-bar.search-bar-container .search-submit {
	/* background-color: #9f6a8d; */
	background-color: transparent;
}
.theme-test ul.menu._Skins_SideMenu.mc-component {
	border-top-color: #762a5b;
}
.theme-test ul.menu._Skins_SideMenu.mc-component li > a.selected {
    border-left-color: #762a5b;
}


/* KC2.0 theme: none (default theme) */
.theme-none div {
	/*The default colors are set in styles.css, but can be overridden per theme here*/
	--HeadColor: #e66700; 
	--SubHeadColor: #f4f5f4; 
}